@inject TodoState todoState
@page "/"

<PageTitle>Home</PageTitle>

<div class="wrapper">
    <button class="add-input" @onclick="CreateNewTodo">Skapa ny</button>

    <div class="input-wrapper">
        @foreach(var task in todoState.Todos)
        {
            <div class="task-row">
                <input class="
                    @(task.IsChecked ? "readonly-text" : "input-text")"
                     readonly="@task.IsChecked"
                     value="@task.Content" @onchange="e => todoState.AddTodo(task)" />
                <input 
                    class="checkbox" 
                    type="checkbox" 
                    checked="@task.IsChecked" @onchange="e => todoState.AddCheck(task)" />
            </div>
        }
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
       todoState.OnChange += OnChangeCallback;
    }

    private void OnChangeCallback() {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose() {
        todoState.OnChange -= OnChangeCallback;
    }

    private void CreateNewTodo()
    {
        todoState.AddTodo(new TodoDTO("", false));
    }
}